<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Blog - Standout</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header 
    ================================================== -->
    <header class="s-header s-header--blog">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
                <li><a href="index.html" title="intro">Home</a></li>
                <li class="current"><a href="blog.html" title="blog">Blog</a></li>	
            </ul>

            <ul class="header-social">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    
    </header> <!-- end header -->


    <!-- page header
    ================================================== -->
    <section class="page-header">

        <div class="row page-header__content narrower text-center">
            <div class="col-full">

                <h3 class="subhead">Our Blog.</h3>
                <h1 class="display-1">
                    Thoughts, Ideas, Insights and Other Stuff.
                </h1>

                <a href="#0" class="page-header__search-trigger">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <span>Search the blog</span>
                </a>
                <div class="page-header__search">
                    <form role="search" method="get" class="page-header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="page-header__overlay-close">Close</a>
                </div>  <!-- end page-header__search -->

            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- blog content wrap
    ================================================== -->
    <section class="blog-content-wrap">

        <div class="row entries-wrap add-top-padding">
            <div class="entries">

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/lamp-400.jpg" 
                                     srcset="images/thumbs/post/lamp-400.jpg 1x, images/thumbs/post/lamp-800.jpg 2x" alt="">
                            </a>
                        </div>        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Design</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">3 Benefits of Minimalism In Interface Design.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/blue-400.jpg" 
                                     srcset="images/thumbs/post/blue-400.jpg 1x, images/thumbs/post/blue-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Workplace</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">10 Reasons Why Working Remotely Makes Sense.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/desk-400.jpg" 
                                     srcset="images/thumbs/post/desk-400.jpg 1x, images/thumbs/post/desk-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Updates</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">New Updates In Standout - August 2018.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/watch-400.jpg" 
                                     srcset="images/thumbs/post/watch-400.jpg 1x, images/thumbs/post/watch-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Management</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">The Pomodoro Technique Really Works.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/wheel-400.jpg" 
                                     srcset="images/thumbs/post/wheel-400.jpg 1x, images/thumbs/post/wheel-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Leadership</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">Three Start-up Leadership Lessons I wish I learned Earlier.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/jsmith-400.jpg" 
                                     srcset="images/thumbs/post/jsmith-400.jpg 1x, images/thumbs/post/jsmith-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Announcement</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">Introducing Jonathan Smith: Standout’s new CEO.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/mac-400.jpg" 
                                     srcset="images/thumbs/post/mac-400.jpg 1x, images/thumbs/post/mac-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Workplace</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">9 Tips to Create a Hassle-free Workplace For Your Startup.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/working-400.jpg" 
                                     srcset="images/thumbs/post/working-400.jpg 1x, images/thumbs/post/working-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Updates</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">New Updates In Standout - July 2018.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/woodcraft-400.jpg" 
                                     srcset="images/thumbs/post/woodcraft-400.jpg 1x, images/thumbs/post/woodcraft-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Design</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">An Examination of Minimalistic Design.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/fuji-400.jpg" 
                                     srcset="images/thumbs/post/fuji-400.jpg 1x, images/thumbs/post/fuji-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">UI/UX Design</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">How Imagery Drives User Experience.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/workplace-400.jpg" 
                                     srcset="images/thumbs/post/workplace-400.jpg 1x, images/thumbs/post/workplace-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Marketing</a>
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">How Marketing Teams Use Our App.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/work-remote-400.jpg" 
                                     srcset="images/thumbs/post/work-remote-400.jpg 1x, images/thumbs/post/work-remote-800.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Updates</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="single.html">New Updates In Standout - June 2018.</a></h1>
                                
                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et 
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- end blog content wrap -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Let's Stay In Touch.
                </h1>
                <p class="lead">
                    Subscribe for updates, special offers and more.
                </p>
            </div>
            <div class="col-six md-full footer__subscribe end">
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
            
                        <input type="submit" name="subscribe" value="Sign Up">
            
                        <label for="mc-email" class="subscribe-message"></label>
            
                    </form>
                </div>
            </div>
        </div> <!-- end footer__top -->

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="index.html">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <ul class="footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-six tab-full end">
                <ul class="footer__site-links">
                    <li><a href="index.html#home" title="intro">Intro</a></li>
                    <li><a href="index.html#about" title="about">About</a></li>
                    <li><a href="index.html#features" title="features">Features</a></li>
                    <li><a href="index.html#pricing" title="pricing">Pricing</a></li>
                    <li><a href="blog.html" title="blog">Blog</a></li>	
                </ul>

                <p class="footer__contact">
                    Do you have a question? Send us a word: <br>
                    <a href="mailto:#0" class="footer__mail-link">support@standout.com</a>
                </p>

                <div class="cl-copyright">
                    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
            </div>

        </div> <!-- end footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>