{% block main %}

<!DOCTYPE html>
<html lang="en">
    <!-- page title -->
    <div class="header">
		<h1>My Interests</h1>
	</div>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/custom.css">
    <form class="label" action="/lifestyle" method="POST">
        <!-- form to understand interests -->
        <label><input type="checkbox" name="lf1" value="1"> Hanging with someone who likes sports is important to me.<br>
        <input type="checkbox" name="lf2" value="1"> Hanging with someone who likes the same sports as I do is important to me.<br>
        <input type="checkbox" name="lf3" value="1"> Good encounters are based on good deep conversations.<br>
        <input type="checkbox" name="lf4" value="1"> Being able to talk about books creates good friendships.<br>
        <input type="checkbox" name="lf5" value="1"> I like people who I can laugh with.<br>
        <input type="checkbox" name="lf6" value="1"> Being funny is one of the things I care the most about in people.<br>
        <input type="checkbox" name="lf7" value="1"> Most of my friends are gamers.<br>
        <input type="checkbox" name="lf8" value="1"> I would like to have friends who live a mindful life.<br>
        <input type="checkbox" name="lf9" value="1"> It’s important that friends like to party with me.<br>
        <input type="checkbox" name="lf10" value="1"> I prefer to socialize in places other than parties.<br>
        <input type="checkbox" name="lf11" value="1"> I only befriend popular people.<br>
        <input type="checkbox" name="lf12" value="1"> I prefer friends that I can be goofy around.<br>
        <input type="checkbox" name="lf13" value="1"> I would love to enjoy the arts with friends.<br>
        <input type="checkbox" name="lf14" value="1"> I would only befriend someone who is an important, respectful person.<br>
        <input type="checkbox" name="lf15" value="1"> I am open to new types of friends.<br></label><br>
        <button type="submit" class="button">Submit</button>
    </form>
</html>

{% endblock %}