/*-- change style only for forms */

/*-- lables */
.label label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  margin-left: 4em;
  margin-top: 3em;
}

.label input[type="checkbox"]:checked+label {
  background-color: #bbb;
}

/*-- button */
.button {
  margin-left: 4em;
  margin-top: 2em;
}

/*-- titles */
h1 {
 color:white;
 text-align: center;
}

/*-- background */
.form {
  background-color:white;
}